.my-text-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: auto 2rem auto 2rem;
}

.my-container-demo01{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #CCC;
    margin-bottom: 2rem;
    /* background-color: #EEE; */
}
/* .my-container-demo01 .my-text-bar::after { */
#root::after {    
    content: "";
    background-image: url('../img/palms.jpg');
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1; 
    
    /* background-size: 100vw 100vh; */
  }

ul{
    margin: 0.8rem;
}

li{
    text-align: left;
    font-size: calc(0.2rem + 2vmin);
}
li.nodot{
    list-style: none;
}
li.nodot button{
    margin-top: 8px;
    width: 10rem;
    font-weight: bold;
    background-color: #CCC;
}
li.nodot button:hover{
    scale: 1.1;
}
pre{
    display: inline;
    font-weight: 600;
    background-color: silver;
    border-radius: 4px;
    padding: .2rem;
}

.my-container-demo02{
    display:flex;
    justify-content: space-evenly;
    border: 1px solid #777;
    margin-bottom: 2rem;
    /* background-color: #EEE; */
}
.my-container-demo02 .rim-button{
    background-color: #CCC;
}
.my-container-demo02.nothumbnails .lfc-rim-thumbnails{
    display:none;
}
.my-container-demo02.nothumbnails .lfc-rim-product{
    height: 100%;
}

.my-container-demo03{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #777;
    margin-bottom: 2rem;
    /* background-color: #EEE; */
}
.my-container-demo03 div.react-image-magnifier{
    min-height: 776px;
    min-width: 772px;
    background-image: url('../img/kitchen.jpg');
}
.my-container-demo03 div.lfc-rim-main{
    height: 400px;
    width: 400px;
}

.my-container-demo03 div.lfc-rim-product{
    border-radius: 50%;
    height: 100%;
    border: 1px solid #CCC;
}
.my-container-demo03 div.lfc-rim-thumbnails{
    position: relative;
}

.my-container-demo03 span.lfc-rim-thumbnail-outer.active div.lfc-rim-thumbnail{
    border-radius: 50%;
    scale: 1.3;
}

.my-container-demo03 div.lfc-rim-thumbnail{
    transform: rotate(calc(-40deg*var(--i)));
    border-radius: 50%;
}

.my-container-demo03 span.lfc-rim-thumbnail-outer{
    width: 125px;
    height: 125px;
    position: absolute;
    left:-160px;
    top: -260px;
    transform-origin: 360px;
    transform: rotate(calc(40deg*var(--i)));
    scale: 1;
}

.my-container-demo03 div.lfc-rim-thumbnail:hover{
    scale: 1.3;
}

