.App-header {
    background-color: #282c34;
    font-size: calc(0.3rem + 2vmin);
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
}

.App-header h2,
.App-header h3{
    display: inline;
}

.App-header pre{
    background-color: #282c34;
    display: inline;
}

.App-header .right-side{
    display: inline;
    float: right;
    margin-right: 4rem;
}

.App-header .imgNpm,
.App-header .tanuki-logo{
    vertical-align:middle;
    padding-left: 2rem;
    width: 32px;
    height: 32px;
}